In [1]:
import sqlalchemy

sqlalchemy.__version__

'1.4.31'

# 连接数据库

In [3]:
# 简单的例子
# 为方便使用，从内存中的一个SQLIte数据库创建连接
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///:memory", echo=True, future=True)

In [4]:
# 连接 Oracle 的例子
oracle_engine = create_engine("oracle+cx_oracle://prs8:password123@MSCH01PR")

In [7]:
all_tables = oracle_engine.table_names()

C:\Users\zhsc0001\AppData\Local\Temp\1/ipykernel_16204/3099932012.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  all_tables = oracle_engine.table_names()

In [10]:
all_tables[:10]

['weekly_census_storelist_finst',
 'weekly_census_fin_st',
 'storelist_temp_st',
 'st_storelist_temp',
 'weekly_census_storelist2',
 'weekly_census_storelist_st',
 'weekly_census_store_finst_cp',
 'weekly_census_fin_st_cp',
 'weekly_census_code_cp',
 'weekly_census_temp_cp']

# 数据库 Query

In [20]:
import pandas as pd


con = oracle_engine.connect()
rs = con.execute("select * from prs7.category")

df = pd.DataFrame(rs.fetchall())         # 取所有数据
# df = pd.DataFrame(rs.fetchmany(size=5))  # 只取5条
df.columns = rs.keys()

con.close()

df

,prodcode,catno,categorycode,description,otherdesc,supercat,pcvgroup,remark,natbasket,citybasket,nat_10,nat_43
0,001,701,PWASH,PERSONAL WASH,香皂/浴液,PC,1.0,Originally 56Cat Group,1.0,0.0,0.0,1.0
1,002,702,SHAM,SHAMPOO,洗发水,PC,1.0,Originally 56Cat Group,1.0,0.0,0.0,1.0
2,003,703,SKIN,SKIN MOISTURIZER,护肤品,PC,1.0,Originally 56Cat Group,1.0,0.0,0.0,1.0
3,004,704,FACIA,FACIAL CLEANSER,洗面奶,PC,1.0,Originally 56Cat Group,1.0,0.0,0.0,1.0
4,005,705,MILK,MILK POWDER,少儿/成人奶粉,Food,1.0,Originally 56Cat Group,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
151,606,606,GMP,GOAT MILK POWDER,羊奶粉,None,NaN,None,0.0,0.0,0.0,0.0
152,607,607,TPSFGU,None,创可贴,None,NaN,None,0.0,0.0,0.0,0.0
153,608,608,YOGURTMELTS,YOGURTMELTS,溶豆,None,NaN,None,0.0,0.0,0.0,0.0
154,609,609,SEAW,SEAWEED,海苔,None,NaN,None,0.0,0.0,0.0,0.0
155,208,908,MOTOROIL,MOTOR OIL,发动机润滑油,None,NaN,PVL,NaN,NaN,NaN,NaN